.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s;
    z-index: 999;
}

.container-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}

/* .container-grid div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */


.open-overlay {
    visibility: visible;
    opacity: 1;
}

.popup {
    width: 90%; 
    max-width: 290px; 
    background: #fff;
    border-radius: 6px;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); 
    padding: 0 20px 20px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    z-index: 1000; 
}

.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1); 
}

.popup h5 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: center;
    color: #007bff; 
}

.popup p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.popup button {
    width: 100%;
    margin-top: 5px;
    padding: 10px 0;
    background: #28a745; 
    color: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.security-content {
    margin: 10px auto;
    border: 2px solid #f0ad4e; 
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}

.slideshow-container {
    overflow: hidden; 
    width: 70%;
    max-height: 95%; 
    margin: 0 auto;
    border-radius: 4px;
}

.slide-wrapper {
    width: 400%; 
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.slide-image {
    width: 25%;
    flex-shrink: 0;
    max-width: 10%;
    height: 85%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.slideshow-container-grid {
    overflow: hidden; 
    width: 100%;
    max-height: 100%; 
    margin: 0 auto;
    border-radius: 4px;
}

.slide-wrapper-grid {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

/* Container harus menyembunyikan gambar yang meluap
.slideshow-container, .slideshow-container-grid {
    width: 100%;
    overflow: hidden; 
    position: relative;
}

/* Wrapper harus flex agar gambar berjejer ke kanan */
/* .slide-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.6s ease-in-out;
} */

/* Setiap gambar harus dipaksa mengambil lebar penuh container */
/* .slide-image, .slide-image-grid {
    min-width: 100%;
    width: 100%;
    height: auto;
    display: block;
} */ */


/* .slide-image-grid {
    width: 15%;
    flex-shrink: 0;
    max-width: 40%;
    height: 15%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
} */

.security-content {
    margin: 10px auto;
    border: 2px solid #f0ad4e; 
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}
.security-content img {
   
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media screen and (max-width: 320px) {
    .popup {
        padding: 0 10px 10px;
    }
}