/* Styling untuk Overlay (latar belakang gelap) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s;
    z-index: 999;
}

.open-overlay {
    visibility: visible;
    opacity: 1;
}

/* Styling untuk Box Pop-up utama */
.popup {
    width: 90%; 
    max-width: 550px; 
    background: #fff;
    border-radius: 6px;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); 
    padding: 0 20px 20px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    z-index: 1000; 
}

.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1); 
}

.popup h5 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: center;
    color: #007bff; 
}

.popup p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

/* Gaya untuk tombol Close/OK */
.popup button {
    width: 100%;
    margin-top: 15px;
    padding: 10px 0;
    background: #28a745; 
    color: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

/* Styling untuk konten gambar keamanan */
.security-content {
    margin: 10px auto;
    border: 2px solid #f0ad4e; 
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}
.security-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}